#### Data Cleaning Utility

In [18]:
#Step 1: Import Required Library
import pandas as pd

In [19]:
#Step 2: Read the CSV File
df = pd.read_csv("Data.CSV")
print(df)

   ID     Name       Age  Salary    Join Date
0   1   Sakshi        25   50000   2023-01-10
1   2     Rahul            45000   10-02-2023
2   3     Pooja       28           2023/03/15
3   4      Amit   twenty   40000   15-04-2023
4   4      Amit   twenty   40000   15-04-2023
5   5      Neha       30   55000          NaN

In [20]:
#Step 3: Understand the Dataset

df.info()

#Shows column names,data types
#Shows missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          6 non-null      int64
 1    Name       6 non-null      object
 2    Age        6 non-null      object
 3    Salary     6 non-null      object
 4    Join Date  5 non-null      object
dtypes: int64(1), object(4)
memory usage: 372.0+ bytes

In [7]:
#Step 4: Check Missing Values

df.isnull().sum()

#Tells how many missing values are present in each column.

ID            0
 Name         0
 Age          0
 Salary       0
 Join Date    1
dtype: int64

In [8]:
 df.columns = df.columns.str.strip()

In [9]:
print(df.columns)

Index(['ID', 'Name', 'Age', 'Salary', 'Join Date'], dtype='object')

In [10]:
#step 4:Covert age to numeric
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [11]:
#Fill missing age
df['Age']=df['Age'].fillna(df['Age'].mean())

In [12]:
#step 5:Convert salary to Numeric
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [13]:
#Fill missing salary
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [14]:
#step 6: Handle Remaining Missing Dates

# Clean column names
df.columns = df.columns.str.strip()

# Fix Join Date
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')
df['Join Date'] = df['Join Date'].ffill()

#Uses previous valid date to fill missing date

In [15]:
#Step 7: Remove Duplicate Records
df.drop_duplicates(inplace=True)

#Removes repeated rows
#Ensures data accuracy

In [16]:
#Step 8: Standardize Column Names

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [132]:
#Step 9: Final Cleaned Data
print(df)

   id      name        age   salary  join_date
0   1   Sakshi   25.000000  50000.0 2023-01-10
1   2     Rahul  27.666667  45000.0 2023-01-10
2   3     Pooja  28.000000  46000.0 2023-01-10
3   4      Amit  27.666667  40000.0 2023-01-10
5   5      Neha  30.000000  55000.0 2023-01-10

In [17]:
# Step 10: Save Cleaned Dataset

df.to_csv("Clean.csv", index=False)